<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>W07 Guestbook</title>
    <link rel="stylesheet" href="/guestbook.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>

<body class="container">
    <h1>
        Express Guestbook
        <a href="/new-entry" class="btn btn-primary pull-right">
           <h1> Write in the guestbook</h1>
        </a>
    </h1>
</body>
</html>